@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --font-sans: "Poppins", sans-serif;

    --color-primary-50: #c6d2ff;
    --color-primary-300: #5c5aed;
    --color-primary-400: #5c5aed;
    --color-primary-500: #5c5aed;
    --color-primary-600: #5c5aed;
    --color-primary-700: #5c5aed;
}

:root {
    --ui-radius: 0.375rem;
}

.dark {
    --ui-bg: #191b35;
    --ui-bg-muted: #1e2041;
    --ui-bg-elevated: #23264d;
}
